$iconColor: rgba(110, 110, 148, 0.882);

$dashboardFontColor: rgba(61, 61, 78, 0.945);

$dashFontHoverColor: rgba(121, 121, 198, 0.931);

$fontColor: rgba(52, 52, 71, 0.945);

$bodyColor: rgba(221, 224, 225, 0.346);

//boxshadow variables

$box-model: rgba(100, 100, 111, 0.2) 0px 1px 4px 0px;

//borders
$borderFade: 1px solid rgba(74, 74, 74, 0.057);
